<div class="container mt-3">
    <div class="heading text-center m-0">
        <h5 style="margin-bottom: -.5rem;">Content</h5>
        <h2 style="margin-bottom: -2rem;">HOMOPHONES</h2>
        <p class="card-description mx-4 mt-4 mb-0">Los homófonos son aquellas palabras que se pronuncian igual, pero tienen diferente significado y grafía. La palabra escrita entre barras es la transcripción fonética de cada término.</p>
        <p class="description mb-4">*** Muchas de las palabras listadas poseen más de un significado. Se va a brindar una de las más usadas.</p>
    </div>
    <div class="row false-cognate">
        <div class="col-lg-4 col-md-4">
            <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                <h5 class="card-header titulo  text-center">Nun – None </h5>
                <div class="card-body">
                  <div class="card-header word">Transcripción fonética: /nʌn/</div>
                  <div class="card-header word">Significado: monja - ninguno</div>
                 </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                <h5 class="card-header titulo text-center">Hour – Our</h5>
                <div class="card-body">
                    <div class="card-header word">Transcripción fonética: /ˈaʊə/</div>
                    <div class="card-header word">Significado: hora - nuestro</div>
                 </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                <h5 class="card-header titulo text-center">Won – One</h5>
                <div class="card-body">
                    <div class="card-header word">Transcripción fonética: /wʌn/</div>
                    <div class="card-header word">Significado: ganar - uno</div>
                 </div>
              </div>
        </div>
    </div>
    <div class="row false-cognate">
        <div class="col-lg-4 col-md-4">
            <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                <h5 class="card-header titulo  text-center">Eye – I</h5>
                <div class="card-body">
                  <div class="card-header word">Transcripción fonética: /aɪ/ </div>
                  <div class="card-header word">Significado: ojo - yo</div>
                 </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                <h5 class="card-header titulo text-center">Weak – Week</h5>
                <div class="card-body">
                    <div class="card-header word">Transcripción fonética: /wiːk/</div>
                    <div class="card-header word">Significado: débil - semana </div>
                 </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                <h5 class="card-header titulo text-center">Bear – Bare</h5>
                <div class="card-body">
                    <div class="card-header word">Transcripción fonética: /beər/</div>
                    <div class="card-header word">Significado: oso - descubierto</div>
                 </div>
              </div>
        </div>
    </div>
    <div class="row false-cognate">
        <div class="col-lg-4 col-md-4">
            <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                <h5 class="card-header titulo  text-center">Which – Witch </h5>
                <div class="card-body">
                  <div class="card-header word">Transcripción fonética: /wɪtʃ/</div>
                  <div class="card-header word">Significado: cuál - bruja </div>
                 </div>
              </div>
        </div>
    </div>
</div>