<div class="approach">
    <div class="container">
        <div class="heading text-center m-0">
            <h5 style="margin-bottom: -.5rem;">Content</h5>
            <h2 style="margin-bottom: -2rem;">HOMOPHONES</h2>
            <p class="card-description mx-4 mt-4 mb-0">Los homófonos son aquellas palabras que se pronuncian igual, pero
                tienen diferente significado y grafía. La palabra escrita entre barras es la transcripción fonética de
                cada término.</p>
            <p class="description mb-4 mx-4">Varios de los términos listados en esta sección poseen más de un significado. Por este
                motivo, se brindará el significado más usado y conocido de dichas palabras. 
                Las traducciones de los términos sugeridas pueden tener sus variantes. </p>
        </div>
        <div class="row false-cognate mt-5">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">Nun – None </h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /nʌn/</div>
                        <div class="card-header word">Significado: monja - ninguno</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Hour – Our</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /ˈaʊə/</div>
                        <div class="card-header word">Significado: hora - nuestro</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Won – One</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /wʌn/</div>
                        <div class="card-header word">Significado: ganar - uno</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row false-cognate mt-3">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">Eye – I</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /aɪ/ </div>
                        <div class="card-header word">Significado: ojo - yo</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Weak – Week</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /wiːk/</div>
                        <div class="card-header word">Significado: débil - semana </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Bear – Bare</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /be<sup>ə</sup>r/</div>
                        <div class="card-header word">Significado: oso - descubierto</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row false-cognate mt-3">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">Which – Witch </h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /wɪtʃ/</div>
                        <div class="card-header word">Significado: cuál - bruja </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Flower – Flour</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /ˈflaʊ<sup>ə</sup>r/</div>
                        <div class="card-header word">Significado: flor - harina</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Sun – Son</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /sʌn/</div>
                        <div class="card-header word">Significado: sol - hijo</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row false-cognate mt-3">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">Weight – Wait  </h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /weɪt/</div>
                        <div class="card-header word">Significado: peso - esperar </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Steel – steal</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /stiː<sup>ə</sup>l/</div>
                        <div class="card-header word">Significado: acero - robar</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Hear – here </h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /hɪ<sup>ə</sup>r/</div>
                        <div class="card-header word">Significado: escuchar - aquí</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row false-cognate mt-3">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">Pairs – pears </h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /pe<sup>ə</sup>rz/ </div>
                        <div class="card-header word">Significado: pares - peras
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Meet – meat </h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /miːt/ </div>
                        <div class="card-header word">Significado: reunirse - carne</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Heel –heal</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /hiː<sup>ə</sup>l/</div>
                        <div class="card-header word">Significado: talón - sanar</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row false-cognate mt-3">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">Buy – bye  </h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /baɪ/</div>
                        <div class="card-header word">Significado: comprar – chau </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">see - sea</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: / siː/ </div>
                        <div class="card-header word">Significado: ver - mar</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">aisle - isle</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética:  / aɪəl / </div>
                        <div class="card-header word">Significado:  pasillo - isla</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row false-cognate mt-3">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">brake - break </h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética:  /breɪk/</div>
                        <div class="card-header word">Significado: frenar - romper </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">two - too</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /tuː/</div>
                        <div class="card-header word">Significado: dos - también</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>