<div class="container my-4 approach-cards">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body content p-3">
                    <h4 class="card-title" style="font-size: 59.5px;">$0.00</h4>
                    <p class="card-text card-description m-5">With supporting text below as a natural lead-in to
                        additional content.</p>
                    <a href="#" class="btn btn-primary btn-lg btn-block">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body content p-3">
                    <h4 class="card-title" style="font-size: 59.5px;">$0.00</h4>
                    <p class="card-text card-description m-5">With supporting text below as a natural lead-in to
                        additional content.</p>
                    <a href="#" class="btn btn-primary btn-lg btn-block">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body content p-3">
                    <h4 class="card-title" style="font-size: 59.5px;">$0.00</h4>
                    <p class="card-text card-description m-5">With supporting text below as a natural lead-in to
                        additional content.</p>
                    <a href="#" class="btn btn-primary btn-lg btn-block">Ver mas</a>
                </div>
            </div>
        </div>
    </div>
</div>