<div class="approach">
    <div class="container mt-4">
        <div class="heading text-center m-0">
            <h5 style="margin-bottom: -.5rem;">Content</h5>
            <h2 style="margin-bottom: -2rem;">ORTHOGRAPHY</h2>
            <p class="card-description mx-4 mt-4 mb-0">En el inglés podemos encontrar palabras que tienen dos formas de
                escribirse. Se
                debe prestar atención a si el inglés usado corresponde al inglés británico o al americano.
                Se recomienda no combinar ambos.</p>
            <p class="description mb-4">La primera opción corresponde al inglés americano y la segunda opción al inglés
                británico.</p>
        </div>
        <div class="row false-cognate mt-5">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">Color (US) – Color (UK)</h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: color</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Mom (US) – Mum (UK)</h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: mamá</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Tire (US) – tyre (UK)</h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: cansarse</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row false-cognate mt-3">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">Pajamas (US) – Pyjamas (UK)</h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: pijama</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Favorite (US) – Favourite (UK)</h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: favorito/ita</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Humor (US) – Humour (UK)</h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: humor </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row false-cognate mt-3">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">Neighbor (US) – Neighbour (UK)</h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: vecino/na</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Check (US) – Cheque (UK)</h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: revisar, comprobar</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Gray (US) – Grey (UK)</h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: gris </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row false-cognate mt-3">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Center (US) – Centre (UK)</h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: centro</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>