<div class="approach">
    <div class="container">
        <div class="heading text-center m-0">
            <h5 style="margin-bottom: -.5rem;">Content</h5>
            <h2 style="margin-bottom: -2rem;">ORTHOGRAPHY</h2>
            <p class="card-description mx-4 mt-4 mb-0">En el inglés podemos encontrar términos que tienen dos formas de escribirse. Una
                opción corresponde al inglés americano y la segunda, al inglés británico. Ambas opciones
                poseen el mismo significado, no obstante, varían en sus grafías.</p>
            <p class="description mb-4 mx-4">Se recomienda no combinar ambas opciones en trabajos académicos o laborales.
                Siempre se debe tener en cuenta la preferencia del público meta para poder hacer nuestra
                elección. 
                Las traducciones de los términos y ejemplos sugeridas pueden tener sus variantes. </p>
        </div>
        <div class="row false-cognate mt-5">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">Color <img src="https://img.icons8.com/color/25/000000/usa-circular.png"/> – Colour <img src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: color</div>
                        <p class="card-text text-dark">Example: I love that color. It suits you.</p>
                        <p class="card-text text-dark">Ejemplo: Amo ese color. Te queda bien.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Mom <img src="https://img.icons8.com/color/25/000000/usa-circular.png"/> – Mum <img src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: mamá</div>
                        <p class="card-text text-dark">Example: Pam's a single mum with two kids. </p>
                        <p class="card-text text-dark">Ejemplo: Pam es mamá soltera con dos niños.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Tire <img src="https://img.icons8.com/color/25/000000/usa-circular.png"/> – tyre <img src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: neumático</div>
                        <p class="card-text text-dark">Example: I have a flat tire.
                        </p>
                        <p class="card-text text-dark">Ejemplo: Tengo una rueda pinchada.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row false-cognate mt-3">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">Pajamas <img src="https://img.icons8.com/color/25/000000/usa-circular.png"/> – Pyjamas <img src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: pijama</div>
                        <p class="card-text text-dark">Example: My son needs a new pair of pajamas.
                        </p>
                        <p class="card-text text-dark">Ejemplo: Mi hijo necesita un nuevo pijama. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Favorite <img src="https://img.icons8.com/color/25/000000/usa-circular.png"/> – Favourite <img src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: favorito</div>
                        <p class="card-text text-dark">Example: That’s my favorite song!
                        </p>
                        <p class="card-text text-dark">Ejemplo: Esa es mi canción favorita.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Humor <img src="https://img.icons8.com/color/25/000000/usa-circular.png"/> – Humour <img src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: humor </div>
                        <p class="card-text text-dark">Example: I can't stand people with no sense of humor.
                        </p>
                        <p class="card-text text-dark">Ejemplo: No soporto a la gente sin sentido del humor. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row false-cognate mt-3">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">Neighbor <img src="https://img.icons8.com/color/25/000000/usa-circular.png"/> – Neighbour <img src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: vecino</div>
                        <p class="card-text text-dark">Example: I've asked my neighbor to water my plants this weekend.
                        </p>
                        <p class="card-text text-dark">Ejemplo: Le pedí a mi vecina que riegue mis plantas este fin de semana. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Check <img src="https://img.icons8.com/color/25/000000/usa-circular.png"/> – Cheque <img src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: cheque</div>
                        <p class="card-text text-dark">Example: I need to cash my check, but all American banks refused to cash it.
                        </p>
                        <p class="card-text text-dark">Ejemplo: Necesito cobrar mi cheque, pero todos los bancos estadounidenses se negaron a
                            cambiármelo. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Gray <img src="https://img.icons8.com/color/25/000000/usa-circular.png"/> – Grey <img src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: gris </div>
                        <p class="card-text text-dark">Example: Have you seen this gray cat?
                        </p>
                        <p class="card-text text-dark">Ejemplo: ¿Han visto este gato gris?
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row false-cognate mt-3">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Center <img src="https://img.icons8.com/color/25/000000/usa-circular.png"/> – Centre <img src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: centro</div>
                        <p class="card-text text-dark">Example: Henry has a minimalist apartment in the center of Paris.
                        </p>
                        <p class="card-text text-dark">Ejemplo: Henry tiene un departamento minimalista en el centro de París. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Theater <img src="https://img.icons8.com/color/25/000000/usa-circular.png"/> – theatre <img src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: teatro</div>
                        <p class="card-text text-dark">Example: I'd rather go to the theatre than watch a movie.
                        </p>
                        <p class="card-text text-dark">Ejemplo: Prefiero ir al teatro que ver una película.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Flavor <img src="https://img.icons8.com/color/25/000000/usa-circular.png"/> – flavour <img src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: sabor</div>
                        <p class="card-text text-dark">Example: This white wine has a delicious fruity flavor.
                        </p>
                        <p class="card-text text-dark">Ejemplo: Este vino blanco tiene un sabor frutal delicioso. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row false-cognate mt-3">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Apologize <img src="https://img.icons8.com/color/25/000000/usa-circular.png"/> – apologise <img src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: disculparse</div>
                        <p class="card-text text-dark">Example: I tried to apologize, but she wouldn’t listen.
                        </p>
                        <p class="card-text text-dark">Example: I tried to apologize, but she wouldn’t listen.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Analyse <img src="https://img.icons8.com/color/25/000000/usa-circular.png"/> – analyze <img src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: analizar</div>
                        <p class="card-text text-dark">Example: You should analyze your feelings.
                        </p>
                        <p class="card-text text-dark">Ejemplo: Deberías analizar tus sentimientos. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pb-5 pt-3">
            <h4>Actividad:</h4>
            <p class="card-description"><li><b>Which of the following words belong to American English? ¿Cuál de las siguientes palabras pertenecen al inglés americano?</b> </p>
            <p class="text-danger"><b>Seleccionar:</b> </p>
            <div class="row text-center mb-4 mt-4" >
                <div class="col p" *ngFor="let p of palabras1">
                    <button [ngClass]="{'text-info' : p.select}" (click)="p.select = !p.select" [disabled]="corregir">
                        <div [ngStyle]="{'color': p.correcta && corregir && p.select ? 'green':''}">
                            <div [ngStyle]="{'color': !p.correcta && corregir && p.select ? 'red':''}">
                                {{p.palabra}}
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <div class="row text-center">
                <div class="col p" *ngFor="let p of palabras2">
                    <button [ngClass]="{'text-info' : p.select}" (click)="p.select = !p.select" [disabled]="corregir">
                        <div [ngStyle]="{'color': p.correcta && corregir && p.select ? 'green':''}">
                            <div [ngStyle]="{'color': !p.correcta && corregir && p.select ? 'red':''}">
                                {{p.palabra}}
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <div class=" text-right">
                <div class="float-right mt-3" *ngIf="corregir" style="font-size: larger;">
                    {{result}}/10
                </div>
                <button class="btn btn-dark px-3 py-2 mt-5" (click)="click()">{{accion}}</button> 
            </div>
        </div>
    </div>
</div>