<div class="container m-0 approach-cards mt-5">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col">
            <div class="card text-center">
                <img loading="lazy"
                    src="../../../../../assets/Vocabulary/euro-1166051_1280.jpg"
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Cash</div>
                    <div class="card-header word">Dinero en efectivo</div>
                    <p class="card-text text-dark text-left">Example: Customers are offered a 15% discount if they pay cash.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Se les ofrece un 15% de descuento a los clientes que paguen en efectivo.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/josh-appel-QSipy5RFcSA-unsplash.jpg"
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Coins</div>
                    <div class="card-header word">Monedas</div>
                    <p class="card-text text-dark text-left">Example: My grandfather used to collect coins when he was a kid.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Mi abuelo coleccionaba monedas cuando era niño
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <img loading="lazy"
                    src="../../../../../assets/Vocabulary/mixture-69523_1280.jpg"
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Bills (US) / Notes (UK)</div>
                    <div class="card-header word">Billete</div>
                    <p class="card-text text-dark text-left">Example: We only exchange notes and traveller's cheques
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Solo cambiamos billetes y cheques de viajero. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/6276.jpg" class="card-img-top img-fluid"
                    alt="...">
                <div class="card-body">
                    <div class="card-header word">Credit card</div>
                    <div class="card-header word">Tarjeta de crédito</div>
                    <p class="card-text text-dark text-left">Example: As we were running out of cash, we paid by credit card.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Como nos estábamos quedando sin efectivo, pagamos con tarjeta de crédito.
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/6089343.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Debit Card</div>
                    <div class="card-header word">Tarjeta de débito</div>
                    <p class="card-text text-dark text-left">Example: Bank of Ireland doesn't charge transaction fees when you use your debit card to
                        make purchases.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: El Banco de Irlanda no cobra comisiones cuando se usa la tarjeta de débito para
                        realizar compras. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/atm-1524871_1920.jpg"
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">ATM (US) / Cash machine (UK)
                    </div>
                    <div class="card-header word">Cajero (automático)</div>
                    <p class="card-text text-dark text-left">Example: Australian Banks are charging you a $5 fee every time you make a withdrawal from
                        an ATM.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Los bancos australianos están cobrando $5 dólares cada vez que se extraiga dinero
                        de un cajero.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/america-3125467_1920.jpg"
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">US dollar
                    </div>
                    <div class="card-header word">Dólar estadounidense</div>
                    <p class="card-text text-dark text-left">Example: Customers can pay in US dollars or euros. 
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Los clientes pueden pagar con dólares o euros. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/money-351078_1920.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Pound</div>
                    <div class="card-header word">Libra esterlina </div>
                    <p class="card-text text-dark text-left">Example: In Scotland, you can use pounds. English currency is accepted throughout Scotland
                        without any problems at all.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: En Escocia podés usar la libra esterlina. La moneda inglesa se acepta en todo
                        Escocia sin ningún inconveniente. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/various-different-euros-background.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Euro</div>
                    <div class="card-header word">Euro</div>
                    <p class="card-text text-dark text-left">Example: Customers can pay in US dollars or euros.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Los clientes pueden pagar con dólares o euros.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/mixture-69523_1280 (1).jpg"
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Currency
                    </div>
                    <div class="card-header word">Moneda, Divisa</div>
                    <p class="card-text text-dark text-left">Example: In Scotland, you can use pounds. English currency is accepted throughout Scotland
                        without any problems at all. 
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: En Escocia podés usar la libra esterlina. La moneda inglesa se acepta en todo
                        Escocia sin ningún inconveniente. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/5480193.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Check (US) / Cheque (UK)</div>
                    <div class="card-header word">Cheque</div>
                    <p class="card-text text-dark text-left">Example: Please make this cheque payable to Jamie Kavanagh.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Por favor, hacé este cheque a nombre de Jamie Kavanagh.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>