<nav class="navbar navbar-expand-lg navigation-wrap" [ngClass]="{'scroll-on': document.location.pathname != '/'}">
    <div class="container">
        <a class="navbar-brand" routerLink=""><img src="../../../assets/img/LOGO BLANCO.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"
            (click)="mostrarREsponsive_nav = !mostrarREsponsive_nav">
            <i class=" fas fa-stream navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarText" [ngClass]="{ show: mostrarREsponsive_nav }">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item nav-link active">
                    <a class="nav-link" routerLink="/">Inicio</a>
                </li>
                <li class="nav-item nav-link active">
                    <a class="nav-link" routerLink="/examen">Examen</a>
                </li>
                <li class="nav-item nav-link active">
                    <a class="nav-link" routerLink="/tarifas">Honorarios</a>
                </li>
                <li class="nav-item nav-link dropdown" (click)="mostrarREsponsive_menu = !mostrarREsponsive_menu">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Content
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" [ngClass]="{ show: mostrarREsponsive_menu }">
                        <a class="dropdown-item" routerLink="/content/homophones">Homophones</a>
                        <a class="dropdown-item" routerLink="/content/ortography">Ortography</a>
                        <a class="dropdown-item" routerLink="/content/grammar">Grammar</a>
                        <a class="dropdown-item" routerLink="/content/collocations">Collocations</a>
                        <a class="dropdown-item" routerLink="/content/vocabulary">Vocabulary</a>
                        <a class="dropdown-item" routerLink="/content/false-cognates">False Cognates</a>
                        <a class="dropdown-item" routerLink="/content/phonetics">Phonetics</a>
                    </div>
                </li>
                <li class="nav-item nav-link active">
                    <a class="nav-link" routerLink="/contact">Contacto</a>
                </li>

            </ul>
        </div>
    </div>
</nav>