<section id="contact"  style="margin-top: -1rem; ">
    <div class="wrapper contact" style="min-height: 80vh;">
        <div class="container">
            <div class="heading text-center">
                <h5>Empecemos una conversación</h5>
                <h2>Contactanos</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <h4>Información</h4>
                    <ul class="our-con-info list-unstyled">
                        <li class="d-flex align-items-center">
                            <i class="pr-3 fa fa-map-marker-alt "></i>
                            <p><a href="https://goo.gl/maps/w3a4GUFdVLEt64Hu8" target="_blank">Córdoba, Argentina</a>
                            </p>

                        </li>
                        <li class="d-flex align-items-center">
                            <i class="pr-3 fa fa-phone "></i>
                            <p><a href="tel:+3517555750">+54 9 351 7 555 750</a></p>

                        </li>
                        <li class="d-flex align-items-center">
                            <i class="pr-3 fa fa-envelope"></i>
                            <p><a href="mailto:englishtutors.arg@gmail.com">englishtutors.arg@gmail.com</a></p>

                        </li>
                        <li class="d-flex align-items-center">
                            <i class="pr-3 fab fa-instagram"></i>
                            <p><a href="https://www.instagram.com/englishtutors.arg/"
                                    target="_blank">@englishtutors.arg</a></p>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="pr-3 fab fa-facebook"></i>
                            <p><a href="https://www.facebook.com/englishtutors.arg" target="_blank">English Tutors
                                    Argentina</a></p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 pt-lg-0 pt-md-0 pt-4">
                    <form name="contact-form" id="contact-form" class="contact__form grid"
                        action="https://formsubmit.co/englishtutors.arg@gmail.com" method="POST">
                        <input type="hidden" name="_next" value="https://www.englishtutorsargentina.com.ar">
                        <input type="hidden" name="_captcha" value="false">
                        <div class="contact__inputs grid">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="contact__input" name="name" id="contact-name" required
                                        placeholder="Tu nombre">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="contact__input" name="email" id="email"
                                        id="contact-email" required placeholder="Tu dirección email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="textarea" name="message" id="message" cols="30" rows="4"
                                        id="contact-message" required placeholder="Escribe tu mensaje"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="main-btn" type="submit" name="contact-submit" id="contact-submit"><i
                                        class="fa fa-rocket pr-3"></i>Enviar Mensaje</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>