<div class="container m-0 approach-cards mt-5">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/pexels-cemal-taskiran-4288598.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Lovey</div>
                    <div class="card-header word">Peluche, Manta de apego</div>
                    <p class="card-text text-dark text-left">Example: Lucien lost his lovey this morning. We couldn’t find it. 
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Lucien perdió su peluche de apego esta mañana. No pudimos encontrarlo. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/slippers-4905435_1920.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Slippers</div>
                    <div class="card-header word">Pantuflas</div>
                    <p class="card-text text-dark text-left">Example: Martha came to the party in her slippers. 

                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Martha vino a la fiesta en pantuflas. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/cold-2722002_1920.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Blanket</div>
                    <div class="card-header word">Manta</div>
                    <p class="card-text text-dark text-left">Example: The baby girl was wrapped in a Goofy blanket.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: La bebé estaba envuelta en una manta de Goofy. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/crib-890565_1920.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Crib (US) / Cot (UK)</div>
                    <div class="card-header word">Cuna</div>
                    <p class="card-text text-dark text-left">Example: Grandma made a simple crib for the baby.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: La abuela hizo una cuna sencilla para el bebé.
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/disinfectant-5093500_1920.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Wipes, Wet wipes</div>
                    <div class="card-header word">Toallitas húmedas</div>
                    <p class="card-text text-dark text-left">Example: Use wet wipes to clean your kid's hands and face when travelling 

                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Usá toallitas húmedas para limpiar el rostro y manos de tu hijo cuando estén
                        viajando.  
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/full-shot-cute-kid-holding-toilet-paper.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Potty</div>
                    <div class="card-header word">Pelela</div>
                    <p class="card-text text-dark text-left">Example: Don’t forget to sit Thomas on the potty before you take him to the birthday party.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: No te olvidés de sentarlo a Thomas en la pelela antes de llevarlo al cumpleaños. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/pexels-rodnae-productions-6849259.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Diaper (US) / Nappy (UK) </div>
                    <div class="card-header word">Pañal</div>
                    <p class="card-text text-dark text-left">Example: Isn’t he old to be still in diapers?
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: ¿No está grande para seguir usando pañales?
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/baby-amp-s-dummy-isolated.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Pacifier (US) / Dummy (UK) </div>
                    <div class="card-header word">Chupete</div>
                    <!-- <p class="card-text text-dark text-left">Example: Isn’t he old to be still in diapers?
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: ¿No está grande para seguir usando pañales?
                    </p> -->
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/pexels-burst-374756.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Baby bottle </div>
                    <div class="card-header word">Mamadera / Biberón</div>
                    <!-- <p class="card-text text-dark text-left">Example: Isn’t he old to be still in diapers?
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: ¿No está grande para seguir usando pañales?
                    </p> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/cute-baby-bibs-arrangement.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Bib</div>
                    <div class="card-header word">Babero</div>
                    <!-- <p class="card-text text-dark text-left">Example: Isn’t he old to be still in diapers?
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: ¿No está grande para seguir usando pañales?
                    </p> -->
                </div>
            </div>
        </div>
        <!-- <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Sippy cup</div>
                    <div class="card-header word"></div>
                    <p class="card-text text-dark text-left">Example: Isn’t he old to be still in diapers?
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: ¿No está grande para seguir usando pañales?
                    </p>
                </div>
            </div>
        </div> -->
    </div>
</div>