<div class="container m-0 approach-cards mt-5">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/img/" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Baggage / Luggage</div>
                    <div class="card-header word">Equipaje</div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/img/" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Ticket</div>
                    <div class="card-header word">Boleto</div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/img/" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Carry-On</div>
                    <div class="card-header word">Equipaje de mano</div>
                </div>
            </div>
        </div>
    </div>
</div>