<div class="container m-0 approach-cards mt-5">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/pexels-cemal-taskiran-4288598.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Lovey</div>
                    <div class="card-header word">Peluche, Manta de apego</div>
                    <p class="card-text text-dark text-left">Example: Lucien lost his lovey this morning. We couldn’t find it. 
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Lucien perdió su peluche de apego esta mañana. No pudimos encontrarlo. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/slippers-4905435_1920.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Slippers</div>
                    <div class="card-header word">Pantuflas</div>
                    <p class="card-text text-dark text-left">Example: Martha came to the party in her slippers. 

                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Martha vino a la fiesta en pantuflas. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/cold-2722002_1920.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Blanket</div>
                    <div class="card-header word">Manta</div>
                    <p class="card-text text-dark text-left">Example: The baby girl was wrapped in a Goofy blanket.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: La bebé estaba envuelta en una manta de Goofy. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/crib-890565_1920.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Crib <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/usa-circular.png"/> / Cot <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></div>
                    <div class="card-header word">Cuna</div>
                    <p class="card-text text-dark text-left">Example: Grandma made a simple crib for the baby.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: La abuela hizo una cuna sencilla para el bebé.
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/disinfectant-5093500_1920.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Wipes, Wet wipes</div>
                    <div class="card-header word">Toallitas húmedas</div>
                    <p class="card-text text-dark text-left">Example: Use wet wipes to clean your kid's hands and face when travelling 

                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Usá toallitas húmedas para limpiar el rostro y manos de tu hijo cuando estén
                        viajando.  
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/full-shot-cute-kid-holding-toilet-paper.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Potty</div>
                    <div class="card-header word">Pelela</div>
                    <p class="card-text text-dark text-left">Example: Don’t forget to sit Thomas on the potty before you take him to the birthday party.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: No te olvidés de sentarlo a Thomas en la pelela antes de llevarlo al cumpleaños. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/pexels-rodnae-productions-6849259.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Diaper <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/usa-circular.png"/> / Nappy <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/> </div>
                    <div class="card-header word">Pañal</div>
                    <p class="card-text text-dark text-left">Example: Isn’t he old to be still in diapers?
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: ¿No está grande para seguir usando pañales?
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/baby-amp-s-dummy-isolated.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Pacifier <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/usa-circular.png"/> / Dummy <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/> </div>
                    <div class="card-header word">Chupete</div>
                    <p class="card-text text-dark text-left">Example: Run next store and ask if they have any pacifiers left.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Andá al siguiente negocio y preguntá si les quedan chupetes.
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/pexels-burst-374756.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Baby bottle </div>
                    <div class="card-header word">Mamadera / Biberón</div>
                    <p class="card-text text-dark text-left">Example: The twins are crying. It's time for their bottles.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Las mellizas están llorando. Es hora de sus mamaderas.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/cute-baby-bibs-arrangement.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Bib</div>
                    <div class="card-header word">Babero</div>
                    <p class="card-text text-dark text-left">Example: He should have worn his bib. Now, you’ll have to bathe him.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Debería haber usado su babero. Ahora lo vas a tener que bañar.
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/water-673358_1920.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Sippy cup</div>
                    <div class="card-header word">Vaso con sorbete</div>
                    <p class="card-text text-dark text-left">Example: Parents should be concerned about better language development in their kids and
                        get rid of sippy cups.</p>
                    <p class="card-text text-dark text-left">Ejemplo:  Los padres deberían preocuparse por un mejor desarrollo del lenguaje en sus niños
                        y deshacerse de los vasos con sorbetes. </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/pexels-pnw-production-7328435.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">High chair</div>
                    <div class="card-header word">Silla de comer (para bebés) / Silla alta</div>
                    <p class="card-text text-dark text-left">Example: My stepsister bought a high chair for her son.</p>
                    <p class="card-text text-dark text-left">Ejemplo: Mi hermanastra compró una silla alta para su hijo.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/joie-baby-car-seat-3785975_1920.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Car seat</div>
                    <div class="card-header word">Butaca para niños para autos / Silla para niños</div>
                    <p class="card-text text-dark text-left">Example: Gabriel’s boy managed to get out of the car seat and bumped his head. 
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: El hijo de Gabriel se salió de su sillita del auto y se golpeó la cabeza.
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/side-view-of-caucasian-mum-walking-on-city-street-while-pushing-her-toddler-sitting-in-pram.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Pram</div>
                    <div class="card-header word">Coche (de bebés)</div>
                    <p class="card-text text-dark text-left">Example: The police saw two pedestrians walking with prams and dogs on the cycle track.</p>
                    <p class="card-text text-dark text-left">Ejemplo: La policía vio a dos peatones caminando con coches y perros por la bicisenda.
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/young-mother-walking-in-autumn-park-with-carriage.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Stroller <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/usa-circular.png"/> / Pushchair <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/> </div>
                    <div class="card-header word">Coche</div>
                    <p class="card-text text-dark text-left">Example: No strollers are allowed on the escalators. </p>
                    <p class="card-text text-dark text-left">Ejemplo: Los coches no están permitidos en las escaleras mecánicas.</p>
                </div>
            </div>
        </div>
    </div>
</div>