<h4 class="text-center" style="font-size: 1.75rem; margin-top: -1rem; margin-bottom: 0;">NIVEL INICIAL INTENSIVO</h4>
<div class="card" style="transform: translateY(0); margin-top: 0rem;">
    <div class="card-body">
        <p class="card-description text-left" style="margin-top: -.2rem; margin-bottom: -.3rem;"><li> El nivel A1 tiene una duración de 2 meses y se divide en dos partes. 
            En el transcurso de 2 meses se desarrollarán un total de 10 Unidades. 
            <br><br>
            <li> En la primera parte de este nivel A1 se desarrollarán las primeras 5 unidades (Unidad 1-5). Una vez finalizadas estas unidades se realizará un examen para evaluar el contenido aprendido. 
            <br><br>
            <li> La segunda parte para completar el nivel A1 cuenta con otras 5 unidades (Unidades 6-10) y las mismas se desarrollarán una vez aprobado el primer examen. 
            <br><br>
            <li> Al finalizar la segunda parte se realizará un examen final donde se evaluará todo lo aprendido. 
            <br><br>
            *La duración puede variar por diversos factores: constancia de los alumnos, cumplimiento en las asignaciones académicas, asistencia, comprensión de temas, etc. El nivel inicial puede así también acortarse dependiendo de los mismos factores previamente mencionados. 
            </p>
    </div>
</div>
<div class="row" style="margin-top: -1.1rem;">
    <div class="col-12">
        <button class="float-right btn btn-dark mb-3" [routerLink]="['/tarifas/grupales']">
            <i class="bi bi-arrow-return-left"></i>
            Volver
        </button>
    </div>
</div>