<div class="container mb-5">
    <h2 class="text-center">Recursos</h2>
    <h3 style="margin-top: -1rem; margin-bottom: 0;">El material de apoyo de esta página fue extraído de los siguientes sitios:</h3>
    <div>
        <ul class="list-group">
            <!-- <li class="list-group-item"><a target="_blank" href="http://www.freepik.com">Designed by macrovector / Freepik</a></li> -->
            <br>
            <h4>Inicio</h4>
            <li class="list-group-item"><a target="_blank" href='https://pixabay.com/images/id-2596809/'>Libros Biblioteca created by StockSnap - www.pixabay.com</a></li>
            <br>
            <h4>Vocabulary</h4>
            <li class="list-group-item"><a target="_blank" href='https://www.freepik.com/vectors/suitcase'>Suitcase vector created by brgfx - www.freepik.com</a></li>
            <li class="list-group-item"><a target="_blank" href="https://es.pngtree.com/">Boleto de png de SJyezhen / pngtree</a></li>
            <li class="list-group-item"><a target="_blank" href='https://www.freepik.com/vectors/suitcase'>Suitcase vector created by brgfx - www.freepik.com</a></li>
            <li class="list-group-item"><a target="_blank" href='https://pngtree.com/freepng/blue-passport-visa-ticket_4284973.html'>Passport vector created by 阿政设计 / pngtree</a></li>
            <br>
            <h4>Honorarios</h4>
            <li class="list-group-item"><a target="_blank" href='https://www.freepik.com/photos/business'>Business photo created by yanalya - www.freepik.com</a></li>
            <li class="list-group-item"><a target="_blank" href='https://www.freepik.com/photos/business'>Business photo created by mego-studio - www.freepik.com</a></li>
            <br>
            <h4>Exam</h4>
            <li class="list-group-item"><a target="_blank" href='https://www.freepik.com/vectors/background'>Background vector created by freepik - www.freepik.com</a></li>
          </ul>
    </div>
</div>