<div class="container mb-5">
    <h2 class="text-center">Recursos</h2>
    <h3 style="margin-top: -1rem; margin-bottom: 0;">El material de apoyo de esta página fue extraído de los siguientes sitios:</h3>
    <div>
        <ul class="list-group">
            <br>
            <h4>Ejemplos</h4>
            <li class="list-group-item">Cambridge Advanced Learner's
                Dictionary - 4th Edition- Cambridge University Press 2013</li>
            <li class="list-group-item"><a target="_blank" href='https://www.oxfordlearnersdictionaries.com/'>Oxford Learner's Dictionaries</a></li>
            <!-- <li class="list-group-item"><a target="_blank" href="http://www.freepik.com">Designed by macrovector / Freepik</a></li> -->
            <br>
            <h4>Inicio</h4>
            <li class="list-group-item"><a target="_blank" href='https://pixabay.com/images/id-2596809/'>Libros Biblioteca created by StockSnap - www.pixabay.com</a></li>
            <br>
            <h4>Content</h4>
            <!-- Homophones -->
            <li class="list-group-item"><a target="_blank" href='https://www.freepik.es/vectores/personas'>Vector de Personas creado por pch.vector - www.freepik.es</a></li>
            <!-- ortography -->
            <li class="list-group-item"><a target="_blank" href='https://www.freepik.es/vectores/escuela'>Vector de Escuela creado por pch.vector - www.freepik.es</a></li>
            <!-- grammar -->
            <li class="list-group-item"><a target="_blank" href='https://www.freepik.es/vectores/abstracto'>Vector de Abstracto creado por vectorjuice - www.freepik.es</a></li>
            <!-- vocabulary -->
            <li class="list-group-item"><a target="_blank" href='https://www.freepik.es/vectores/escuela'>Vector de Escuela creado por pch.vector - www.freepik.es</a></li>
            <!-- false cognates -->
            <li class="list-group-item"><a target="_blank" href='https://www.freepik.es/vectores/fondo'>Vector de Fondo creado por redgreystock - www.freepik.es</a></li>
            <!-- phonetics -->
            <li class="list-group-item"><a target="_blank" href='https://www.freepik.es/vectores/personas'>Vector de Personas creado por pch.vector - www.freepik.es</a></li>
            <!-- collocations -->
            <li class="list-group-item"><a target="_blank" href='https://www.freepik.es/vectores/personas'>Vector de Personas creado por pch.vector - www.freepik.es</a></li>
            <br>
            <h4>Vocabulary</h4>
            <li class="list-group-item"><a target="_blank" href='https://www.freepik.com/vectors/suitcase'>Suitcase vector created by brgfx - www.freepik.com</a></li>
            <li class="list-group-item"><a target="_blank" href="https://es.pngtree.com/">Boleto de png de SJyezhen / pngtree</a></li>
            <li class="list-group-item"><a target="_blank" href='https://www.freepik.com/vectors/suitcase'>Suitcase vector created by brgfx - www.freepik.com</a></li>
            <li class="list-group-item"><a target="_blank" href='https://pngtree.com/freepng/blue-passport-visa-ticket_4284973.html'>Passport vector created by 阿政设计 / pngtree</a></li>
            <br>
            <h4>Phonetics</h4>
            <li class="list-group-item"><a target="_blank" href='https://concepto.de/fonetica/#ixzz7M9eSCpXk'>Fonética - Concepto</a></li>
            <br>
            <h4>Honorarios</h4>
            <li class="list-group-item"><a target="_blank" href='https://www.freepik.com/photos/business'>Business photo created by yanalya - www.freepik.com</a></li>
            <li class="list-group-item"><a target="_blank" href='https://www.freepik.com/photos/business'>Business photo created by mego-studio - www.freepik.com</a></li>
            <br>
            <h4>Exam</h4>
            <li class="list-group-item"><a target="_blank" href='https://www.freepik.com/vectors/background'>Background vector created by freepik - www.freepik.com</a></li>
          </ul>
    </div>
</div>