<div class="heading text-center m-0">
    <h3 style="color: #b13131; margin-bottom: -.5rem; font-size:2.60rem;"><b>{{"clases individuales" | uppercase}}</b>
    </h3>
    <p class="card-text card-description">Aprendé inglés gradualmente. Las clases individuales son personalizadas y
        adaptadas para cada alumno. Se brinda un plan de estudios de acuerdo a las necesidades y objetivos de cada
        alumno. Las clases además de estar basadas y guiadas por libros en inglés de diferentes editoriales, también se
        tratan de enfocar en el uso de un inglés más real, un inglés usado en el día a día. Las clases son online. Elegí
        tu día y horario y comenzá tus clases.</p>
</div>
<div class="row approach-cards" st>
    <div class="col-sm-4">
        <div class="card" style="transform: translateY(0);">
            <div class="card-body content p-3">
                <h4 class="card-title" style="font-size: 3rem;">4 CLASES</h4>
                <p class="card-text card-description mx-4 mt-1">Las clases son una vez por semana.</p>
                <p class="card-text card-description mb-3">Duración: 1 hora</p>
                <div class="btn btn-dark btn-lg btn-block mt-4" style="cursor: auto; font-size: 1.5rem;"><b>$ 2.200</b>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="transform: translateY(0);">
            <div class="card-body content p-3">
                <h4 class="card-title" style="font-size: 3rem;">8 CLASES</h4>
                <p class="card-text card-description mx-4 mt-1">Las clases son dos veces por semana.</p>
                <p class="card-text card-description mb-3">Duración: 1 hora</p>
                <div class="btn btn-dark btn-lg btn-block mt-4" style="cursor: auto; font-size: 1.5rem;"><b>$ 3.800</b>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="transform: translateY(0);">
            <div class="card-body content p-3">
                <h4 class="card-title" style="font-size: 3rem;">12 CLASES</h4>
                <p class="card-text card-description mx-4 mt-1">Las clases son tres veces por semana.</p>
                <p class="card-text card-description mb-3">Duración: 1 hora</p>
                <div class="btn btn-dark btn-lg btn-block mt-4" style="cursor: auto; font-size: 1.5rem;"><b>$ 5.400</b>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: -.7rem;">
    <div class="col-12">
        <button class="float-right btn btn-dark mb-3" [routerLink]="['/tarifas/']">
            <i class="bi bi-arrow-return-left"></i>
            Volver
        </button>
    </div>
</div>
