<div class="container">
    <div class="heading text-center m-0" style="margin-top: -1rem; ">
        <!-- <h3 style="color: #b13131; margin-top: -1rem; margin-bottom: -.5rem; font-size:2.60rem; font-weight: 800;"><b>{{"clases individuales" | uppercase}}</b> -->
        <!-- </h3> -->
        <p class="card-text card-description">Aprendé inglés gradualmente. Las clases individuales son personalizadas y
            adaptadas.
            Se brinda un plan de estudios de acuerdo a las necesidades y objetivos del alumno. Las clases individuales
            están
            basadas y guiadas por libros de diferentes
            editoriales y
            además se enfocan en un inglés de uso diario. </p>
        <p class="card-text card-description">Las clases son online. Elegí tu día y horario y empezá a comunicarte con
            el
            mundo.</p>
    </div>
    <div class="row approach-cards" st>
        <div class="col-sm-4">
            <div class="card" style="transform: translateY(0);">
                <div class="card-body content p-3">
                    <h4 class="card-title" style="font-size: 3rem; color: #b13131">4 CLASES</h4>
                    <p class="card-text card-description mb-3"><i class="bi bi-check-circle-fill mr-3"
                            style="color: #b13131; margin-left: -40px;"></i> Lecciones interactivas.</p>
                    <p class="card-text card-description mb-3"><i class="bi bi-check-circle-fill mr-3"
                            style="color: #b13131; margin-left: -40px;"></i> En linea.</p>
                    <p class="card-text card-description mb-3"><i class="bi bi-check-circle-fill mr-3"
                            style="color: #b13131; margin-left: -40px;"></i> Duración: 1 hora.
                    </p>
                    <p class="card-text card-description mb-3"><i class="bi bi-check-circle-fill mr-3"
                            style="color: #b13131; margin-left: -40px;"></i>1 Clase por
                        semana.</p>
                    <p class="card-text card-description mb-3">
                        Abono mensual Argentina: <br>
                        <b class="ml-5">2800 ARS</b>
                    </p>
                    <p class="card-text card-description mb-3">
                        Abono mensual otros países: <br>
                        <b class="ml-5">25 USD</b>
                    </p>
                    <!-- <div class="btn btn-dark btn-lg btn-block mt-4" style="cursor: auto; font-size: 1.5rem;"><b>$ 2.200</b>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="transform: translateY(0);">
                <div class="card-body content p-3">
                    <h4 class="card-title" style="font-size: 3rem; color: #b13131">8 CLASES</h4>
                    <p class="card-text card-description mb-3"><i class="bi bi-check-circle-fill mr-3"
                            style="color: #b13131; margin-left: -40px;"></i> Lecciones interactivas.</p>
                    <p class="card-text card-description mb-3"><i class="bi bi-check-circle-fill mr-3"
                            style="color: #b13131; margin-left: -40px;"></i> En linea.</p>
                    <p class="card-text card-description mb-3"><i class="bi bi-check-circle-fill mr-3"
                            style="color: #b13131; margin-left: -40px;"></i> Duración: 1 hora.
                    </p>
                    <p class="card-text card-description mb-3"><i class="bi bi-check-circle-fill mr-3"
                            style="color: #b13131; margin-left: -40px;"></i>2 Clase por
                        semana.</p>
                    <p class="card-text card-description mb-3">
                        Abono mensual Argentina: <br>
                        <b class="ml-5">4800 ARS</b>
                    </p>
                    <p class="card-text card-description mb-3">
                        Abono mensual otros países: <br>
                        <b class="ml-5">50 USD</b>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="transform: translateY(0);">
                <div class="card-body content p-3">
                    <h4 class="card-title" style="font-size: 3rem; color: #b13131">12 CLASES</h4>
                    <p class="card-text card-description mb-3"><i class="bi bi-check-circle-fill mr-3"
                            style="color: #b13131; margin-left: -40px;"></i> Lecciones interactivas.</p>
                    <p class="card-text card-description mb-3"><i class="bi bi-check-circle-fill mr-3"
                            style="color: #b13131; margin-left: -40px;"></i> En linea.</p>
                    <p class="card-text card-description mb-3"><i class="bi bi-check-circle-fill mr-3"
                            style="color: #b13131; margin-left: -40px;"></i> Duración: 1 hora.
                    </p>
                    <p class="card-text card-description mb-3"><i class="bi bi-check-circle-fill mr-3"
                            style="color: #b13131; margin-left: -40px;"></i>3 Clase por
                        semana.</p>
                    <p class="card-text card-description mb-3">
                        Abono mensual Argentina: <br>
                        <b class="ml-5">7200 ARS</b>
                    </p>
                    <p class="card-text card-description mb-3">
                        Abono mensual otros países: <br>
                        <b class="ml-5">75 USD</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="float-left mb-5"><b>
            <li> Medios de pago Argentina: Transferencia bancarias </li>
        </b>
        <b>
            <li>Medios de pago internacional: Payoneer, Skrill, Paypal.</li>
        </b>
        <!-- <p class="text-dark mb-5">Válido desde 01/05/22 hasta 01/08/22</p> -->
    </div>
</div>
<!-- <div class="row" style="margin-top: -.7rem;">
    <div class="col-12">
        <button class="float-right btn btn-dark mb-3" [routerLink]="['/tarifas/']">
            <i class="bi bi-arrow-return-left"></i>
            Volver
        </button>
    </div>
</div> -->