<div class="approach" style="margin-bottom: -1.5rem; margin-top: -1rem;"> 
    <div class="container pb-5">
        <div class="heading text-center m-0 mb-2">
            <h5 style="margin-bottom: -.5rem;">Content</h5>
            <h2 style="margin-bottom: -1rem;">CONTENIDO</h2>
        </div>
        <div class="row approach-cards d-flex justify-content-center mx-3 mb-3 mt-4">
            <div class="col-lg-4">
                <div class="card text-center" [routerLink]="['/content/homophones']" style="cursor: pointer;">
                    <img loading="lazy" src="../../../../assets/img/Content/homophones.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body content p-3">
                        <h4 class="card-title" style="font-size: 24px; color: #b13131;">{{"homophones"|uppercase}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center" [routerLink]="['/content/ortography']" style="cursor: pointer;">
                    <img loading="lazy" src="../../../../assets/img/Content/ortography.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body content p-3">
                        <h4 class="card-title" style="font-size: 24px; color: #b13131;">{{"ortography"|uppercase}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center" [routerLink]="['/content/grammar']" style="cursor: pointer;">
                    <img loading="lazy" src="../../../../assets/img/Content/grammar.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body content p-3">
                        <h4 class="card-title" style="font-size: 24px; color: #b13131;">{{"grammar"|uppercase}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row approach-cards d-flex justify-content-center mx-3 my-3">
            <div class="col-lg-4">
                <div class="card text-center" [routerLink]="['/content/vocabulary']" style="cursor: pointer;">
                    <img loading="lazy" src="../../../../assets/img/Content/vocabulary.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body content p-3">
                        <h4 class="card-title" style="font-size: 24px; color: #b13131;">{{"vocabulary"|uppercase}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center" [routerLink]="['/content/false-cognates']" style="cursor: pointer;">
                    <img loading="lazy" src="../../../../assets/img/Content/false-cognates.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body content p-3">
                        <h4 class="card-title" style="font-size: 24px; color: #b13131;">{{"false cognates"|uppercase}}</h4>
                    </div>
                </div>
            </div> 
            <div class="col-lg-4">
                <div class="card text-center" [routerLink]="['/content/phonetics']" style="cursor: pointer;">
                    <img loading="lazy" src="../../../../assets/img/Content/phonetics.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body content p-3">
                        <h4 class="card-title" style="font-size: 24px; color: #b13131;">{{"phonetics"|uppercase}}</h4>
                    </div>
                </div>
            </div>          
        </div>
        <!-- <div class="row approach-cards d-flex justify-content-center mx-3 my-3">
            <div class="col-lg-4">
                <div class="card text-center" [routerLink]="['/content/collocations']" style="cursor: pointer;">
                    <img src="../../../../assets/img/Content/collocations.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body content p-3">
                        <h4 class="card-title" style="font-size: 24px; color: #b13131;">{{"collocations"|uppercase}}</h4>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
