<div class="container mt-4">
    <div class="heading text-center m-0">
        <h5 style="margin-bottom: -.5rem;">Content</h5>
        <h2 style="margin-bottom: -2rem;">FALSE COGNATES</h2>
        <p class="card-description m-4">Los “falsos cognados” o también conocidos como “falsos amigos” son palabras que debido a similitudes en la escritura que posee con otra palabra del idioma del español, los hablantes cometen el error de pensar que se trata de su traducción. Las palabras no poseen ninguna relación en su origen etimológico.</p>
    </div>
    <div class="row false-cognates mt-5">
        <div class="col-lg-4 col-md-4">
            <div class="card text-dark bg-light mb-3" style="max-width: 25;">
                <h5 class="card-header titulo text-center">To assist</h5>
                <div class="card-body">
                  <div class="card-header word">Significado: ayudar a alguien</div>
                  <div class="card-header word">A veces confundido con: asistir</div>
                  <p class="card-text text-dark">Luka and Daniel offered to assist with the marketing of the Mumu milk. </p>
                  <p class="card-text text-dark">Luka y Daniel se ofrecieron a ayudar con la comercialización de la leche Mumu. </p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                <h5 class="card-header titulo text-center">Sensitive</h5>
                <div class="card-body">
                  <div class="card-header word">Significado: sensible</div>
                  <div class="card-header word">A veces confundido con: sensato</div>
                  <p class="card-text text-dark">We have to be very careful with what we say or comment because they are so sensitive.</p>
                  <p class="card-text text-dark">Tenemos que ser cuidadosos con lo que decimos o comentamos porque ellos son muy sensibles.</p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                <h5 class="card-header titulo text-center">Sensible</h5>
                <div class="card-body">
                  <div class="card-header word">Significado: sensato</div>
                  <div class="card-header word">A veces confundido con: sensible</div>
                  <p class="card-text text-dark">Michael and I think that's a very sensible idea. </p>
                  <p class="card-text text-dark">Michael y yo creemos que es una idea muy sensata.</p>
                </div>
              </div>
        </div>
    </div>
    <div class="row false-cognate">
        <div class="col-lg-4 col-md-4">
            <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                <h5 class="card-header titulo  text-center">Actually </h5>
                <div class="card-body">
                  <div class="card-header word">Significado: en realidad</div>
                  <div class="card-header word">A veces confundido con: actualidad</div>
                 </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                <h5 class="card-header titulo text-center">Terrific</h5>
                <div class="card-body">
                  <div class="card-header word">Significado: estupendo</div>
                  <div class="card-header word">A veces confundido con: terrorífico</div>
                 </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                <h5 class="card-header titulo text-center">Fabric</h5>
                <div class="card-body">
                  <div class="card-header word">Significado: tela</div>
                  <div class="card-header word">A veces confundido con: fábrica</div>
                 </div>
              </div>
        </div>
    </div>
</div>