.card{
    border-radius: 15px;
}
.titulo {
    border-radius: 15px 15px 0 0;
    background-color: #b13131;
}

.word{
    border-radius: 15px;
}

.false-cognates .card{
    min-height: 22.5rem;
}

.false-cognate .card{
    min-height: 13rem;
}
.description{
    color: #449fd4;
    margin-top: .5rem;
    text-align: justify;
    text-indent: 40px;
}