<div class="approach">
<div class="container">
    <div class="heading text-center">
        <h5 style="margin-bottom: -.5rem;">Content</h5>
        <h2 style="margin-bottom: -2rem;">FALSE COGNATES</h2>
        <p class="card-description m-4">Los “falsos cognados” o también conocidos como “falsos amigos” son palabras que
          debido a similitudes en la escritura que posee con otra palabra del idioma del español, los
          hablantes cometen el error de pensar que se trata de su traducción. A pesar de las similitudes
          en escritura, Las palabras no poseen ninguna relación en su origen etimológico.</p>
        <p class="description mb-4 mx-4">El significado correspondiente a cada término puede variar según el área de estudio
          (geográfico, jurídico, médico etc.); y país al que se destinará la traducción meta. 
          Las traducciones de los términos y ejemplos sugeridas pueden tener sus variantes.</p>
      </div>
    <div class="row false-cognates mt-4">
        <div class="col-lg-4 col-md-4">
            <div class="card text-dark bg-light mb-3" style="max-width: 25;">
                <h5 class="card-header titulo text-center">To assist</h5>
                <div class="card-body">
                  <div class="card-header word">Significado: ayudar a alguien</div>
                  <div class="card-header word">A veces confundido con: asistir</div>
                  <p class="card-text text-dark">Luka and Daniel offered to assist with the marketing of the Mumu milk. </p>
                  <p class="card-text text-dark">Luka y Daniel se ofrecieron a ayudar con la comercialización de la leche Mumu. </p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                <h5 class="card-header titulo text-center">Sensitive</h5>
                <div class="card-body">
                  <div class="card-header word">Significado: sensible</div>
                  <div class="card-header word">A veces confundido con: sensato</div>
                  <p class="card-text text-dark">We have to be very careful with what we say or comment because they are so sensitive.</p>
                  <p class="card-text text-dark">Tenemos que ser cuidadosos con lo que decimos o comentamos porque ellos son muy sensibles.</p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                <h5 class="card-header titulo text-center">Sensible</h5>
                <div class="card-body">
                  <div class="card-header word">Significado: sensato</div>
                  <div class="card-header word">A veces confundido con: sensible</div>
                  <p class="card-text text-dark">Michael and I think that's a very sensible idea. </p>
                  <p class="card-text text-dark">Michael y yo creemos que es una idea muy sensata.</p>
                </div>
              </div>
        </div>
    </div>
    <div class="row false-cognate">
        <div class="col-lg-4 col-md-4">
            <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                <h5 class="card-header titulo  text-center">Actually </h5>
                <div class="card-body">
                  <div class="card-header word">Significado: en realidad</div>
                  <div class="card-header word">A veces confundido con: actualidad</div>
                  <p class="card-text text-dark">Tell me, what actually happened?  </p>
                  <p class="card-text text-dark">Decime, ¿qué pasó en realidad? </p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                <h5 class="card-header titulo text-center">Terrific</h5>
                <div class="card-body">
                  <div class="card-header word">Significado: estupendo</div>
                  <div class="card-header word">A veces confundido con: terrorífico</div>
                  <p class="card-text text-dark">My next door neighbours built a terrific tree house. </p>
                  <p class="card-text text-dark">Mis vecinos de al lado construyeron una estupenda casa en el árbol. </p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                <h5 class="card-header titulo text-center">Fabric</h5>
                <div class="card-body">
                  <div class="card-header word">Significado: tela</div>
                  <div class="card-header word">A veces confundido con: fábrica</div>
                  <p class="card-text text-dark">This beige fabric is similar to wool, only cheaper.                  </p>
                  <p class="card-text text-dark">Esta tela beige es parecida a la lana, pero más barata. </p>
                </div>
              </div>
        </div>
    </div>
    <div class="row false-cognates mt-4">
      <div class="col-lg-4 col-md-4">
          <div class="card text-dark bg-light mb-3" style="max-width: 25;">
              <h5 class="card-header titulo text-center">Presume</h5>
              <div class="card-body">
                <div class="card-header word">Significado:  presumir (jurídico), suponer</div>
                <div class="card-header word">A veces confundido con: presumir de coquetear</div>
                <p class="card-text text-dark">A person accused of a crime is presumed innocent until proven guilty. </p>
                <p class="card-text text-dark">Una persona acusada de un crimen se presume inocente hasta que se demuestre su
                  culpabilidad. </p>
              </div>
            </div>
      </div>
      <div class="col-lg-4 col-md-4">
          <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
              <h5 class="card-header titulo text-center">constipated</h5>
              <div class="card-body">
                <div class="card-header word">Significado: constipado (estreñido América)</div>
                <div class="card-header word">A veces confundido con: constipado (resfriado España)</div>
                <p class="card-text text-dark">Your dad should eat more fibre and fruit to not get constipated.</p>
                <p class="card-text text-dark">Tu padre debería comer más fibra y fruta para no estreñirse.</p>
              </div>
            </div>
      </div>
      <div class="col-lg-4 col-md-4">
          <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
              <h5 class="card-header titulo text-center">Embarrassed</h5>
              <div class="card-body">
                <div class="card-header word">Significado: avergonzado</div>
                <div class="card-header word">A veces confundido con: </div>
                <p class="card-text text-dark">I've never felt so embarrassed in my life! </p>
                <p class="card-text text-dark">¡Nunca en mi vida me he sentido tan avergonzada!</p>
              </div>
            </div>
      </div>
  </div>
  <div class="row false-cognates mt-4">
    <div class="col-lg-4 col-md-4">
        <div class="card text-dark bg-light mb-3" style="max-width: 25;">
            <h5 class="card-header titulo text-center">Advice</h5>
            <div class="card-body">
              <div class="card-header word">Significado: consejo</div>
              <div class="card-header word">A veces confundido con: aviso</div>
              <p class="card-text text-dark">I wished that I had followed her advice. </p>
              <p class="card-text text-dark">Ojalá hubiese escuchado su consejo. </p>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
            <h5 class="card-header titulo text-center">Library</h5>
            <div class="card-body">
              <div class="card-header word">Significado: biblioteca</div>
              <div class="card-header word">A veces confundido con: librería</div>
              <p class="card-text text-dark">New York city has an excellent public library.</p>
              <p class="card-text text-dark">La ciudad de Nueva York tiene una excelente biblioteca pública</p>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
            <h5 class="card-header titulo text-center">large</h5>
            <div class="card-body">
              <div class="card-header word">Significado: grande</div>
              <div class="card-header word">A veces confundido con: largo</div>
              <p class="card-text text-dark">Lucien’s debt became extremely large. </p>
              <p class="card-text text-dark">La deuda de Lucien se volvió extremadamente grande.</p>
            </div>
          </div>
    </div>
</div>
<div class="row false-cognates mt-4">
  <div class="col-lg-4 col-md-4">
      <div class="card text-dark bg-light mb-3" style="max-width: 25;">
          <h5 class="card-header titulo text-center">Parents</h5>
          <div class="card-body">
            <div class="card-header word">Significado: padres</div>
            <div class="card-header word">A veces confundido con: parientes</div>
            <p class="card-text text-dark">As a parent you try to create a stable home environment for your children to grow up in.
            </p>
            <p class="card-text text-dark">Como padre, uno trata de crear un hogar estable en el cual sus hijos puedan crecer.
            </p>
          </div>
        </div>
  </div>
  <div class="col-lg-4 col-md-4">
      <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
          <h5 class="card-header titulo text-center">Realise <img src="https://img.icons8.com/color/25/000000/usa-circular.png"/> / realize <img src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></h5>
          <div class="card-body">
            <div class="card-header word">Significado: darse cuenta</div>
            <div class="card-header word">A veces confundido con: realizar</div>
            <p class="card-text text-dark">I never realized how much it meant to you.</p>
            <p class="card-text text-dark">Nunca me di cuenta de cuánto significaba para vos. </p>
          </div>
        </div>
  </div>
</div>
</div>
</div>