<div class="approach">
    <div class="container">
        <div class="heading text-center m-0">
            <h5 style="margin-bottom: -.5rem;">Content</h5>
            <h2 style="margin-bottom: -2rem;">PHOENETICS</h2>
            <p class="card-description mx-4 mt-4 mb-0">La pronunciación correcta de estas palabras es importante para no
                confundirlas. La
                articulación y fonación deben realizarse de acuerdo a las normas de la fonética inglesa. La
                fonética emplea trascripciones fonéticas, una forma de escritura que representa de un modo
                estandarizado los sonidos que el ser humano realiza a la hora de comunicarse verbalmente.
                Dichos sonidos los podemos ver representados entre barras. </p>
            <p class="description mb-4 mx-4">Algunos de los términos listados en esta sección poseen más de un
                significado. Por este
                motivo, se brindará el significado más usado y conocido de dichas palabras.
                Las traducciones de los términos sugeridas pueden tener sus variantes. </p>
        </div>

        <h4>estamos trabajando para que esta sección esté lista!</h4>
        <!-- <div class="row false-cognate mt-5">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Eyes - ice</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /aɪz / - /aɪs/
                        </div>
                        <div class="card-header word">Significado: ojos - hielo
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Chew – Two</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: / tʃuː / - /tuː/
                        </div>
                        <div class="card-header word">Significado: masticar - dos</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Receipt - recipe</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /riˈsiːt/ - /ˈresəpi/</div>
                        <div class="card-header word">Significado: recibo - receta</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row false-cognate mt-3">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">Mouth - mouse</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /maʊθ/ - /maʊs/ </div>
                        <div class="card-header word">Significado: boca - ratón</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Sheep - ship</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /ʃiːp/ - /ʃɪp/</div>
                        <div class="card-header word">Significado: oveja - barco </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Coach - couch</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /kəʊtʃ/ - /kaʊtʃ/</div>
                        <div class="card-header word">Significado: entrenador - sillón</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row false-cognate mt-3">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">Tree – three</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /triː/ - /θriː/</div>
                        <div class="card-header word">Significado: tres - árbol </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">Boat – vote</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /bəʊt/ - / vəʊt/</div>
                        <div class="card-header word">Significado: bote - votar </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">cat - cut</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /kæt/ - /kʌt/</div>
                        <div class="card-header word">Significado: gato- cortar </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row false-cognate mt-3">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">cup - cap - cop</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: //kʌp/ - /kæp/ - /kɑːp/</div>
                        <div class="card-header word">Significado: taza - gorra - policía </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">custom - customer - costume - customs</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /ˈkʌst əm/ - /ˈkʌstəmər/ - /ˈkɒstjuːm/ -
                            /ˈkʌstəmz/</div>
                        <div class="card-header word">Significado: costumbre - cliente - disfraz - aduana </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">ankle - uncle</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /ˈæŋkəl/ - /ˈʌŋkəl/
                        </div>
                        <div class="card-header word">Significado: tobillo - tío </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row false-cognate mt-3">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">travel - trouble</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /ˈtrævəl/ - /ˈtrʌbəl/</div>
                        <div class="card-header word">Significado: viajar - problema </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>