<div class="approach">
    <div class="container">
        <div class="heading text-center m-0">
            <h5 style="margin-bottom: -.5rem;">Content</h5>
            <h2 style="margin-bottom: -2rem;">PHOENETICS</h2>
            <p class="card-description mx-4 mt-4 mb-0">La pronunciación correcta de estas palabras es importante para no confundirlas. La articulación 
                y fonación deben realizarse de acuerdo a las normas de la fonética inglesa.</p>           
        </div>
        <div class="row false-cognate mt-5">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">Eyes /aɪz / – Ice /aɪs/ </h5>
                    <div class="card-body">
                        <div class="card-header word">Significado: ojos - hielo</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Chew – Two</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción: / tʃuː / - /tuː/
                        </div>
                        <div class="card-header word">Significado: masticar - dos</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Won – One</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /wʌn/</div>
                        <div class="card-header word">Significado: ganar - uno</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row false-cognate mt-3">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">Eye – I</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /aɪ/ </div>
                        <div class="card-header word">Significado: ojo - yo</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Weak – Week</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /wiːk/</div>
                        <div class="card-header word">Significado: débil - semana </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo text-center">Bear – Bare</h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /beər/</div>
                        <div class="card-header word">Significado: oso - descubierto</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row false-cognate mt-3">
            <div class="col-lg-4 col-md-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                    <h5 class="card-header titulo  text-center">Which – Witch </h5>
                    <div class="card-body">
                        <div class="card-header word">Transcripción fonética: /wɪtʃ/</div>
                        <div class="card-header word">Significado: cuál - bruja </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>