<div class="container m-0 approach-cards mt-5">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col">
            <div class="card text-center">
                <img loading="lazy"
                    src="../../../../../assets/Vocabulary/airbus-4454338_1920.jpg"
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Plane / Airplane (US) / Aeroplane (UK)</div>
                    <div class="card-header word">Avión</div>
                    <p class="card-text text-dark text-left">Example: Kate and I ‘ll be boarding the plane in about 20 minutes.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Kate y yo vamos a subir al avión en 20 minutos. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/new-york-4267940_1920.jpg"
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Taxi (UK) / Cab(US)</div>
                    <div class="card-header word">Taxi</div>
                    <p class="card-text text-dark text-left">Example: I took a taxi from Grandma’s home to the station. 
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Tomé un taxi desde la casa de la abuela hasta la estación. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <img loading="lazy"
                    src="../../../../../assets/Vocabulary/auto-2179220_1920.jpg"
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Car</div>
                    <div class="card-header word">Auto</div>
                    <p class="card-text text-dark text-left">Example: It was foggy, and all the cars had their headlights on.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Había neblina y todos los autos tenían las luces encendidas.  
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/bus-2770364_1920.jpg" class="card-img-top img-fluid"
                    alt="...">
                <div class="card-body">
                    <div class="card-header word">Bus</div>
                    <div class="card-header word">Colectivo, Autobus</div>
                    <p class="card-text text-dark text-left">Example: All students should take the bus before 7 a.m
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Todos los estudiantes deben tomar el colectivo antes de las 7 de la mañana. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/coach-3206326_1280.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Bus (US) / Coach (UK)</div>
                    <div class="card-header word">Colectivo (larga distancia)</div>
                    <p class="card-text text-dark text-left">Example: The coach has air conditioning and reclining seats.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: El colectivo tiene aire acondicionado and asientos reclinables. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/blur-1239439_1920.jpg"
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Train
                    </div>
                    <div class="card-header word">Tren</div>
                    <p class="card-text text-dark text-left">Example: I missed the train to Edinburgh.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Perdí el tren a Edimburgo.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/subway-2227664_1920.jpg"
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Subway (US) / Underground – Tube (UK)
                    </div>
                    <div class="card-header word">Subte, Metro</div>
                    <p class="card-text text-dark text-left">Example: I bumped into him on the tube.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Me lo encontré en el subte. 
                    </p>
                </div>
            </div>
        </div>
</div>