<div class="container m-0 approach-cards mt-5">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/pexels-dzenina-lukac-1583884.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Fries, French fries <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/usa-circular.png"/>  / Chips <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></div>
                    <div class="card-header word">Papas fritas</div>
                    <p class="card-text text-dark text-left">Example: Let’s order some burgers and fries.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Pidamos hamburguesas y papas fritas. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/apartment-406901_1920.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Apartment <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/usa-circular.png"/> / Flat <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></div>
                    <div class="card-header word">Departamento</div>
                    <p class="card-text text-dark text-left">Example: My aunt’s cousin was evicted from his Manhattan apartment.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Al primo de mi tía lo desalojaron de su departamento de Manhattan.
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/road-surrounded-by-trees-with-colorful-leaves-during-fall.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Fall <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/usa-circular.png"/> / Autumn <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></div>
                    <div class="card-header word">Otoño</div>
                    <p class="card-text text-dark text-left">It was really stormy this fall.</p>
                    <p class="card-text text-dark text-left">Este otoño estuvo muy tormentoso.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/female-soccer-players-practicing-and-training-at-the-stadium.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Soccer <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/usa-circular.png"/> / Football <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></div>
                    <div class="card-header word">Fútbol</div>
                    <p class="card-text text-dark text-left">Example: I told my dad I hate football.</p>
                    <p class="card-text text-dark text-left">Ejemplo: Le dije a mi papá que odio el fútbol. </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/elevator-in-building.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Elevator <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/usa-circular.png"/> / Lift <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></div>
                    <div class="card-header word">Ascensor</div>
                    <p class="card-text text-dark text-left">Example:The CEO and I got stuck in the lift.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: El director ejecutivo y yo nos quedamos encerrados en el ascensor. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/euros-5812089_1920.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Wallet <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/usa-circular.png"/> / Purse <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></div>
                    <div class="card-header word">Billetera</div>
                    <p class="card-text text-dark text-left">Example: I lost the wallet you gave me for my birthday.</p>
                    <p class="card-text text-dark text-left">Ejemplo: Perdí la billetera que me diste para mi cumpleaños.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/416531-PEA6NJ-829.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Check <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/usa-circular.png"/> / Bill <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></div>
                    <div class="card-header word">Cuenta</div>
                    <p class="card-text text-dark text-left">Example: Can I have the check, please?

                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: ¿Me traés la cuenta, por favor?</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/gas-station-1275484_1920.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Gasoline, gas <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/usa-circular.png"/> / Petrol <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></div>
                    <div class="card-header word">Gasolina</div>
                    <p class="card-text text-dark text-left">Example: I’m running out of gas. </p>
                    <p class="card-text text-dark text-left">Ejemplo: : Me estoy quedando sin gasolina. </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/potato-chips-448737_1920.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Chips <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/usa-circular.png"/> / Crisps <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></div>
                    <div class="card-header word">Papas fritas</div>
                    <p class="card-text text-dark text-left">Example: I bought some nachos and chips.</p>
                    <p class="card-text text-dark text-left">Ejemplo: Compré nachos y papas fritas.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/smiley-couple-ready-for-traveling-with-luggage.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Vacation <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/usa-circular.png"/> / Holiday <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/>
                    </div>
                    <div class="card-header word">Vacaciones</div>
                    <p class="card-text text-dark text-left">Example: Give me a call when your father gets back from holiday.</p>
                    <p class="card-text text-dark text-left">Ejemplo:  Llamame cuando tu padre regrese de sus vacaciones. </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/christmas-store-222227_1920.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Store <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/usa-circular.png"/> / Shop <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></div>
                    <div class="card-header word">Negocio</div>
                    <p class="card-text text-dark text-left">Example: Run next store and ask if they have any pacifiers left. </p>
                    <p class="card-text text-dark text-left">Ejemplo:  Andá al siguiente negocio y preguntá si les quedan chupetes </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/female-pharmacist-working-in-drug-store.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Drugstore <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/usa-circular.png"/> / Chemist’s <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></div>
                    <div class="card-header word">Farmacia</div>
                    <p class="card-text text-dark text-left">Example: Take this prescription to the chemist's</p>
                    <p class="card-text text-dark text-left">Ejemplo: Llevá esta receta a la farmacia. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/tic-tac-toe-1674071.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Tic-Tac-Toe <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/usa-circular.png"/> / Noughts and Crosses <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/>
                    </div>
                    <div class="card-header word"> Ta-Te-Ti</div>
                    <p class="card-text text-dark text-left">Example: My three-year-old child invited to all my guests to play a game of tic-tac-toe. 
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Mi hija de tres años animó a todos mis invitados a jugar al ta-te-ti.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>