<div class="row contenedor approach">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link activa" [routerLink]="['au-pair']" routerLinkActive="activa">Au Pair</a>
        <a class="nav-link" [routerLink]="['airport']" routerLinkActive="activa">Airport</a>
        <a class="nav-link" routerLink="money" routerLinkActive="activa">Money</a>
        <a class="nav-link" routerLink="USvsUK" routerLinkActive="activa">US vs. UK</a>
      </div>
    </div>
    <div class="col-9 approach">
      <div class="heading text-center mt-4" style="margin-left: -4rem;">
        <h5 style="margin-bottom: -.5rem;">Content</h5>
        <h2 style="margin-bottom: -3rem;">VOCABULARY</h2>
    </div>
      <div class="container">
        <div class="tab-content" id="v-pills-tabContent" style="margin-left: -4rem;">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"><router-outlet></router-outlet></div>
          </div>
      </div>
    </div>
  </div>
  