<div class="row contenedor approach" style="padding-top: 0;">
  <div class="col-lg-3" style="margin-right: -4rem;">
    <div class="list-group flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="list-group-item activa" [routerLink]="['au-pair']" routerLinkActive="activa" (click)="seccion = 'Au Pair'">Au Pair</a>
      <a class="list-group-item" [routerLink]="['airport']" routerLinkActive="activa" (click)="seccion = 'Airport'">Airport</a>
      <a class="list-group-item" routerLink="money" routerLinkActive="activa" (click)="seccion = 'Money'">Money</a>
      <a class="list-group-item" routerLink="transport" routerLinkActive="activa" (click)="seccion = 'Transport'">Transport</a>
      <a class="list-group-item" routerLink="USvsUK" routerLinkActive="activa" (click)="seccion = 'US vs UK'">US vs UK</a>
    </div>
  </div>
  <div class="col-lg-9 approach">
    <div class="heading text-center">
      <h5 style="margin-bottom: -.5rem;">Content</h5>
      <h2 style="margin-bottom: -1rem;">VOCABULARY</h2>
      <h3 style="margin-bottom: -2rem; color: #b13131;"><b>{{seccion | uppercase}}</b></h3>
    </div>
    <div class="container">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>