.description{
    color: #22397e;
    margin-top: .5rem;
}

.btn{
    background-color: #b13131;
    border-color: #b13131;
}

i{
    font-size: large;
}
#modal{
    position: relative;
}

.moddal{
    margin-top: -35rem;
   position: absolute;
}
@media(max-width:767px){
    .moddal{
        margin-left: 0;
        margin-right: 10%;
    }
}
@media(max-width:991px){
    .moddal{
        margin-left: 7%;
    }
}
@media(min-width:990px){
    .moddal{
        margin-left: 15rem;
    }
  }