<h4 class="text-center" style="font-size: 1.75rem; margin-top: -1rem; margin-bottom: 0;">NIVEL INICIAL REGULAR</h4>
<div class="card" style="transform: translateY(0); margin-top: 0rem;">
    <div class="card-body">
        <p class="card-description text-left" style="margin-top: -.2rem; margin-bottom: -.3rem;"><li> El nivel A1 tiene una duración de 4 meses y se divide en 4 partes. En el transcurso
            de 4 meses se desarrollarán un total de 10 Unidades.
            <br><br>
            <li> En la primera parte de este nivel se desarrollarán 2 unidades más dos lecciones (Unidad 1-3). Una vez
            finalizadas estas unidades se realizará un examen para evaluar el contenido aprendido.
            <br><br>
            <li> La segunda parte de este nivel cuenta con otras 2 unidades más dos lecciones (Unidad 3-5) y las mismas se
            desarrollarán una vez aprobado el primer examen.
            <br><br>
            <li> La tercera parte de este nivel cuenta con otras 2 unidades más dos lecciones (Unidad 6-8) y las mismas se
            desarrollarán una vez aprobado el segundo examen.
            <br><br>
            <li> La última parte de este nivel cuenta con otras 2 unidades más dos lecciones (Unidad 8-10) y las mismas se
            desarrollarán una vez aprobado el tercer examen.
            <br><br>
            <li> Al finalizar la cuarta parte se realizará un examen final donde se evaluará todo lo aprendido.
            <br><br>
            *La duración puede variar por diversos factores: constancia de los alumnos, cumplimiento en las asignaciones
            académicas, asistencia, comprensión de temas, etc. El nivel inicial puede así también acortarse dependiendo
            de los mismos factores previamente mencionados.
        </p>
    </div>
</div>
<div class="row" style="margin-top: -.7rem;">
    <div class="col-12">
        <button class="float-right btn btn-dark mb-3" [routerLink]="['/tarifas/grupales']">
            <i class="bi bi-arrow-return-left"></i>
            Volver
        </button>
    </div>
</div>