<div class="container m-0 approach-cards mt-5">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/pink-gray-black-color-luggage-or-baggage-bag-use-for-transportation-travel (1).jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Baggage / Luggage</div>
                    <div class="card-header word">Equipaje</div>
                    <p class="card-text text-dark text-left">Example: Train tickets can also be purchased by phone.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Los boletos de tren se pueden comprar por teléfono. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/pexels-torsten-dettlaff-69866.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Ticket</div>
                    <div class="card-header word">Boleto</div>
                    <p class="card-text text-dark text-left">Example: There's room for one more piece of luggage.
                        Never leave your baggage unattended.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Hay lugar para una valija más.
                        Nunca dejen su equipaje desatendido.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/woman-tourist-standing-and-holding-pink-travel-suitcase-high-quality-photo.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Carry-on bag <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/usa-circular.png"/> / Cabbin bag <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/></div>
                    <div class="card-header word">Equipaje de mano</div>
                    <p class="card-text text-dark text-left">Example: All carry-on bag must be stored under your seats or in the overhead
                        compartments
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Todo equipaje de mano debe guardarse debajo de sus asientos o en los
                        compartimentos. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/dni.jpeg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">ID Card</div>
                    <div class="card-header word">DNI</div>
                    <p class="card-text text-dark text-left">Example: Every time Carol goes out she must carry her ID because nobody believes she’s
                        already 25.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Cada vez que Carol sale, debe llevar su DNI porque nadie le cree que ya tiene 25. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/4202.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Boarding pass</div>
                    <div class="card-header word">Tarjeta de embarque</div>
                    <p class="card-text text-dark text-left">Example: Every passenger must have a boarding pass to be allowed to get on the plane.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Cada pasajero debe tener su tarjeta de embarque para poder subir al avión. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/passport-2642170_1920.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Passport</div>
                    <div class="card-header word">Pasaporte</div>
                    <p class="card-text text-dark text-left">Example: Many refugees arrived at the border without passports.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Muchos refugiados llegaron sin pasaportes a la frontera
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/airport-3364232_1920.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Baggage claim <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/usa-circular.png"/> / Baggage reclaim <img style="height: 25p; width: 25px; margin:0 ;" src="https://img.icons8.com/color/25/000000/great-britain-circular.png"/>
                    </div>
                    <div class="card-header word">Reclamo / Retiro de equipaje</div>
                    <p class="card-text text-dark text-left">Example: You two go to the baggage claim area on the first floor and we’ll wait here.
                        already 25.
                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Ustedes dos vayan al área de retiro de equipajes, en el primer piso, y nosotros
                        esperamos aquí. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img loading="lazy" src="../../../../../assets/Vocabulary/businesswoman-handing-over-her-boarding-pass-to-the-female-staff.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Passenger</div>
                    <div class="card-header word">Pasajero</div>
                    <p class="card-text text-dark text-left">Example: All passengers for Frankfurt please go to Gate 13.

                    </p>
                    <p class="card-text text-dark text-left">Ejemplo: Todos los pasajeros con destino a Frankfurt, por favor dirigirse a la puerta 13.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>