<div class="container m-0 approach-cards mt-4">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/—Pngtree—suitcase_746434.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Baggage / Luggage</div>
                    <div class="card-header word">Equipaje</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/—Pngtree—simple color flight ticket boarding_2933188.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Ticket</div>
                    <div class="card-header word">Boleto</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/tcno_dz1z_210621.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Carry-On</div>
                    <div class="card-header word">Equipaje de mano</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/Vocabulary/—Pngtree—blue passport visa ticket_4284973.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Passport</div>
                    <div class="card-header word">Pasaporte</div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/img/ticket.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Ticket</div>
                    <div class="card-header word">Boleto</div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center">
                <img src="../../../../../assets/img/carryOn.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <div class="card-header word">Carry-On</div>
                    <div class="card-header word">Equipaje de mano</div>
                </div>
            </div>
        </div>
    </div>
</div>