img {
    height: 100%;
    width: 90%;
    position: relative;
    overflow: hidden;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: -1.755rem;
    border-radius: 0.375rem;
    box-shadow: 0 0.5625rem 1.875rem -0.625rem rgba(221, 218, 210, 0.5);
}