<div class="heading text-center m-0 mb-2">
    <h5 style="margin-bottom: -.5rem;">RATES</h5>
    <h2 style="margin-bottom: -1rem;">TARIFAS</h2>
</div>
<div class="row approach-cards d-flex justify-content-center mx-3 my-4">
    <div class="col-lg-6">
        <div class="card text-center" [routerLink]="['/tarifas/individuales']" style="cursor: pointer;">
            <img src="../../../../assets/img/individuales.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body content p-3">
                <h4 class="card-title" style="font-size: 24px; color: #b13131;">{{"Clases Individuales"|uppercase}}</h4>
                <p class="card-description" style="margin-top: -1rem;">Te brindamos 3 (tres) opciones.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card text-center" [routerLink]="['/tarifas/grupales']" style="cursor: pointer;">
            <img src="../../../../assets/img/grupales.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body content p-3">
                <h4 class="card-title" style="font-size: 24px; color: #b13131;">{{"Clases Grupales"|uppercase}}</h4>
                <p class="card-description" style="margin-top: -1rem;">Te brindamos 2 (dos) opciones.</p>
            </div>
        </div>
    </div>
    
</div>
